/* Media Query de celulares gama alta*/
@media only screen and (min-width:680px) {
    html {
        font-size: 13px;
    }
}

/* Media Query de tableta*/
@media only screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }

    #contenedor-header {
        flex: 0 1 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: 50vh;
    }

    #relojHeader {
        flex: 0 1 calc(50% - 1rem);
        order: 1;
    }

    #txtReloj {
        flex: 0 1 calc(50% - 1rem);
        align-self: flex-start;
        order: 2;
    }
}

/* Media Query de laptop*/
@media only screen and (min-width: 992px) {
    html {
        font-size: 15px;
    }


}

/* Media Query de Desktop*/
@media only screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}
